body
{
    
    background-image:url("img\ 1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.table1
{
    margin:auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    padding: 50px;
      
}

th
{
   
   font-size: 25px;
}
td,th
{
   
    
    padding:8px;
    text-align: center;
    height:60px;
}

td
{
    font-size: 20px;
    
}
a
{
    color:black;
    text-decoration: none;
}
a:hover
{
    color:white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
td:hover 
{
background-color: rgb(117, 113, 113);

color:white;
}

.timetable
{
padding:50px;


}

h1,h2
{
   
    text-shadow: 1px 1px rgb(201, 184, 201);
    font-size: 40px;
}
@media only screen and (max-width: 1200px)
  {
        
                table, thead, tbody, th, td, tr { 
                        display: block; 
                }
                
                thead tr { 
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                       
                }
                
                tr { border-bottom: 1px solid rgb(255, 255, 255); }
                 
                


                td { 
                    
                     position: relative;
                     padding-left: 50%; 
                }
                td:before { 
                        position: absolute;
                        
                }
                body
{
    
    background-image:url("img\ 1.webp");
    
}
   
}