body
{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
table
{
    margin:auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-collapse:collapse;
    border: 5px solid black;
}
th
{
   
   font-size: 25px;
}
td,th
{
    border: 3px solid black;
    padding:8px;
    text-align: center;
    height:60px;
}
td
{
    font-size: 20px;
   
}

tr:nth-child(odd)
{
    background-color: rgb(128,62,119);
}
tr:nth-child(even)
{
    background-color: rgb(182, 162, 187);
}
a
{
    color:black;
    text-decoration: none;
}
a:hover
{
    color:white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
td:hover 
{
background-color: rgb(87, 84, 84);

color:white;
}

.timetable
{
padding:50px;


}

h1,h2
{
   
    
    font-size: 40px;
}
